body{
    height: 300VH;
}
 

nav.menu{
    width: 60px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
    box-shadow: 3PX 0 0 blue;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2S;
}

nav.menu:hover{
    width: 230px;
}
.expandir{
    width: 100%;
    padding-left: 10px;
}

.expandir > i{
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    
}

ul{ 
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background-color: blue;
}

 
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}   
ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 20px;
    margin-left: -30px;
}

